*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 26.67vw;
}
html,body{
	height: 100%;
	font-family: 'Helvetica';
	overflow: hidden;
	max-width: 1024px;
	min-width: 320px;
	background: #ccc;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	vertical-align: bottom;
}

.swiper-container{
	font-size: .16rem;
	width: 100%;
	height: 100%
}
.swiper-wrapper{
	width: 100%;
	height: 100%
}
.swiper-container .swiper-slide{
	background: url(../img/b.jpg) no-repeat;
}
.swiper-container .first-slide{
	position: relative;
	background: url(../img/a.png) no-repeat;
}
.swiper-container .swiper-slide{
	width: 100%;
	height: 100%;
	background-size: cover;
}
.swiper-container-wrap>.swiper-pagination-progress{
	width: 4px;
    height: 100%;
    left: auto;
    right: 0!important;
    top: 0;
}
.swiper-pagination-color .swiper-pagination-bullet-active,.swiper-pagination-color .swiper-pagination-progressbar{
	background: rgba(0,255,0,.4);
}
.first-slide .rotate-wrap,.first-slide .rotate-wrap .rotate-circle,.first-slide .circle-img{
	position: absolute;
	left: 50%;
	top:0.4rem;
	margin-left: -0.9rem;
	width: 1.8rem;
	height: 1.8rem;
	border:1px solid #F0F0F0;
	box-shadow: 0 0 4px #fff;
}
.first-slide .wrap-active{
	animation:myfirst 2s ease-out;
	animation-fill-mode:forwards;
}
.first-slide .rotate-wrap .rotate-circle{
	top: 0;
	border-radius: 100%;
}
.first-slide .circle-img{
	border-radius: 100%;
	box-shadow: 0 0 6px #eee;
}
.first-slide .circle-img img{
	width: 100%;
	height: 100%;
	border-radius: 100%;
}
.first-slide .circle-img .img-rotate{
	animation:imgRotate 10s linear infinite;
}
.first-slide .rotate-text{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2rem;
	height: 1.08rem;
	margin: -0.28rem 0 0 -1rem;
	box-shadow: 0 0 6px #fff;
}
.first-slide .rotate-text img{
	width: 100%;
	height: 100%;
}
.swiper-container .music-btn{
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 10;
	width: 36px;
	height: 36px;
}
.swiper-container .music-btn img{
	width: 100%;
	height: 100%;
}
.swiper-container .rotate-music{
	animation: music 1.6s linear infinite;
}
@keyframes music{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes myfirst{
	from{
		opacity: 0;
		transform: rotate(0deg);
	}
	to{
		opacity: 1;
		transform: rotate(315deg);
	}
}
@keyframes imgRotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
.swiper-container .switch-page{
	width: 24px;
	height: 18px;
	position: absolute;
	bottom: 16px;
	left: 50%;
	z-index: 10;
	margin-left: -12px;
	animation: move 1s linear infinite;
}
@keyframes move{
	to{
		bottom:36px;
		opacity: 0;
	}
}
.first-slide .bottom-text{
	position: absolute;
	bottom:0;
	left: 0; 
	width: 100%;
	height: 1.2rem;
}
.first-slide .bottom-text span{
	position: absolute;
	display: block;
	height: 2px;
	width: 0;
	border-radius: 4px;
	background: rgba(255,255,255,.6);
	box-shadow: 0 0 1px #fff;
}
.first-slide .bottom-text .left-line{
	left: 0;
	top: 2px;
	transform: rotate(-15deg);
	transform-origin: left;
}
.first-slide .bottom-text .right-line{
	right: 0%;
	top: 10px;
	transform: rotate(-15deg);
	transform-origin: right;
}
.first-slide .bottom-text .line-active{
	animation: lineMove 1s ease-out;
	animation-fill-mode: forwards; 
}
@keyframes lineMove{
	to{
		width: 50%;
	}
}
.first-slide .bottom-text em{
	display: inline-block;
	color: #fff;
	font-size: .22rem;
}
.first-slide .bottom-text div{
	text-align: center;
}
.second-slide .introduce{
	width: 100%;
	height: 1.55rem;
	color: #fff;
	text-align: center;
	line-height: 2.8rem;
	background: url(../img/b1.png) no-repeat top center;
	background-size: contain;
}
.second-slide .introduce em{
	display: block;
	font-size: .4rem;
	animation: scale 2s linear infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-delay: 3s;
}
@keyframes scale {
	from{
		transform: scale(1);
	}
	to{
		transform: scale(1.1);
	}
}
.second-slide .introduce-chn{
	margin-top: .28rem;
	font-size: .36rem;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 10px #000;
}
.second-slide .personal-info{
	width: 100%;
	height: 3.1rem;
	margin-top: .42rem;
	vertical-align: bottom;
}
.second-slide .personal-info div{
	width: 1.87rem;
	height: 3.08rem;
	display: block;
	float: left;
	color:#FFF;
}
.second-slide .personal-info .line{
	display: block;
	width: 0;
	height: 1px;
	background: rgba(255,255,255,0.5);
	clear: both;
}
.second-slide .personal-info .line-active{
	animation: lineW .8s ease-in;
	animation-delay: 4.6s;
	animation-fill-mode: forwards;	
}
.second-slide .personal-info .after-line{
	float: right;
}
@keyframes lineW {
	to{width: 100%}
}
.second-slide .personal-info .left-title span,.second-slide .personal-info .right-info span{
	display: block;
	width: 80%; 
	font-size: .18rem;
	line-height: .44rem;
	text-align: right;
}
.second-slide .personal-info .right-info span{
	text-align: left;
}
.second-slide .bottom-change{
	width: 100%;
	height: .6rem;
	display: flex;
	flex-wrap: nowrap;
	font-size: .18rem;
	color: #FFF;
}
.second-slide .bottom-change span{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	background: rgba(0,0,0,.2);
}
.third-slide .skill-wrap{
	width: 80%;
	height: 5rem;
	margin:.2rem auto 0;
	background:url(../img/c1.png) no-repeat;
	background-size: cover;
}
.third-slide .skill-wrap .skill-title{
	width: 100%;
	height: 16%;
	text-align: center;
	line-height: .64rem;
	color: #FFF;
	font-size: .24rem;
}
.third-slide .skill-wrap ul{
	width: 90%;
	height: 84%;
	margin:0 auto;
	padding-top: .1rem;
}
.third-slide .skill-wrap ul li{
	width: 100%;
	height: 16.6%;
	line-height: .68rem;
	border-bottom: 1px solid  #ccc;
	color: #FFF;
	padding:0 6px;
}
.third-slide .skill-text{
	position: absolute;
	top: .6rem;
	left: .36rem;
	color:#FFF;
	text-shadow: 0 0 8px #FFF;
	font-size: .24rem;
}
.third-slide .skill-img{
	position: relative;
	width: 100%;
	height: 2.88rem;
}
.third-slide .skill-img img{
	position: absolute;
	top: 0;
	left: 0;
}
.third-slide .skill-img .active-img{
	transform: rotateZ(0deg);
	animation: skillImg 1.2s linear;
	animation-fill-mode: forwards;
}
@keyframes skillImg {
	to{
		transform: rotateZ(-78deg);
		top:-60px;
		left: 66%;
	}
}
.fouth-slide .project-show{
	width: 100%;
	height: 16%;
	text-align: center;
	font-size: .24rem;
	color: #FFF;
	line-height: 1.06rem;
	background:url(../img/c1.png) no-repeat;
	background-size: cover;
}
.fouth-slide .nest-wrap{
	width: 90%;
	height: 66%;
	margin: .2rem auto 0;
	opacity: 0;
}
.fouth-slide .nest-wrap .swiper-slide{
	background: #f0f0f0;
}
